<div class="registrations-new-header">
  <div class="header">
    <h2>新規登録</h2>
        <ul class = "header-bar" >
      <%= link_to 'トップページへ戻る', root_path, class: "top-page" %>
    </ul>
  </div>
</div>

<div class="session-new-main">
  <div class="form-area">
    <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :ニックネーム %>
        <span class="indispensable">必須</span><br />
        <%= f.text_field :nickname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :Eメール %>
        <span class="indispensable">必須</span><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <span class="indispensable">必須</span><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード(確認)" %>
        <span class="indispensable">必須</span><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :"目標体重(kg)" %>
        <span class="indispensable">必須</span><br />
        <%= f.text_field :target_weight %>
      </div>

      <div class="field">
        <%= f.label :"目標摂取水分量(ℓ)" %><br />
        <%= f.text_field :target_water %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録する" %>
      </div>
    <% end %>
  </div>
</div>
<%#= render "devise/shared/links" %>
