<div class='session-new-header'>
  <div  class="header">
    <h2>
      <%= "体重の入力" %>
    </h2>
    <ul class='header-bar'>
      <li><%= link_to 'トップページへ戻る', root_path, class: "top-page" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: {confirm: "ログアウトします。よろしいですか？"}, class: "logout" %>
    </ul>
  </div>
</div>

<div class="session-new-main">
  <div class="form-area">
    <%= form_with model:@weight, url: weights_path, class: 'weight-input',id: 'weight-input' , local: true do |f| %>
      <div class="field">
        <%= f.label :日付%>
        <span class="indispensable">必須</span><br />
        <%= f.date_select :start_time, autofocus: true, use_month_numbers: true, default: { year: Date.today.year, month: Date.today.month, day: Date.today.day } %>
      </div>

      <div class="field">
        <%= f.label :'体重(kg)'%>
        <span class="indispensable">必須</span><br />
        <%= f.text_field :weight, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "OK", id: 'weight-submit'%>
      </div>
    <% end %>
  </div>
</div>