<div class='session-new-header'>
  <div  class="header">
    <h2>
      <%= "#{current_user.nickname}さんのマイページ" %>
    </h2>
    <ul class='header-bar'>
      <li><%= link_to 'トップページへ戻る', root_path, class: "top-page" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: {confirm: "ログアウトします。よろしいですか？"}, class: "logout" %>
    </ul>
  </div>
</div>

<div class="my-page-main">
  <%#= month_calendar do |date| %>
  <%= month_calendar events: @motions do |date, motions| %>
    <%= date.day %><br />
    <% motions.each do |motion| %>
      <%= image_tag "toilet.png", alt: "toilet_image" , class: "toilet_image"%>
    <% end %>
  <% end %>
</div>