<div class='session-new-header'>
  <div  class="header">
    <h2>
      <%= "#{current_user.nickname}さんのマイページ" %>
    </h2>
    <ul class='header-bar'>
      <li><%= link_to 'トップページへ戻る', root_path, class: "top-page" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: {confirm: "ログアウトします。よろしいですか？"}, class: "logout" %>
    </ul>
  </div>
</div>

<div class="my-page-main">
  <div class="graph-area">
    <div class="weight-graph">
      <%###NG####= line_chart {name:"test", data: @graph.map{ |record| record.slice(:start_time, :motion).values}} %>
      <%###OK####= line_chart Weight.group_by_day(:start_time).count %>
      <%#=<canvas id="weightGraph" data-labels="<%= @weights " data-data="<%= @weights% </canvas%>
      <canvas id="weightGraph" data-labels="<%= @dates %>" data-data="<%= @weights %>" data-goal="<%= @goalweight %>"></canvas>
    </div>  

    <div class="water-graph" >
      <canvas id="waterGraph" data-labels="<%= @dates_water %>" data-data="<%= @waters %>" data-goal="<%= @goalwater %>"></canvas>
    </div>
  </div>

  <%= month_calendar events: @motions do |date, motions| %>
    <%= date.day %><br />
    <% date_check = "" %>
    <% motions.each do |motion| %>
      <% if date_check != motion.start_time %>
        <%= image_tag "toilet.png", alt: "toilet_image" , class: "toilet_image"%>
        <% date_check = motion.start_time %>
      <% end %>
    <% end %>
  <% end %>
</div>