<div class='session-new-header'>
  <div  class="header">
    <h2>
      <%= "#{current_user.nickname}さんの#{Date.today.month}月のがんばり" %>
    </h2>
    <ul class='header-bar'>
      <li><%= link_to 'トップページへ戻る', root_path, class: "top-page" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
    </ul>
  </div>
</div>

<div class="my-page-main">
  <%= month_calendar do |date| %>
    <%= date.day %>
  <% end %>
</div>