<div class="simple-calendar">
  <div class="calendar-heading">
    <div class="calendar-header">
      <div class="calendar-left">
        <%= link_to t('simple_calendar.previous', default: "#{start_date.month-1}月"), calendar.url_for_previous_view %>
        <span class="calendar-title"><%= "《#{start_date.year}年" %> <%= "#{start_date.month}月》" %> </span>
        <%= link_to t('simple_calendar.next', default: "#{start_date.month+1}月"), calendar.url_for_next_view %>
      </div>
    </div>

    <div class="more">
        <div class="input-button">
          <%= button_to '体重', new_weight_path, method: :get, class:"in-button" %>
        </div>
        <div class="input-button">
          <%= button_to '摂取水分量', new_water_path, method: :get, class:"in-button" %>
        </div>
        <div class="input-button">
          <%= button_to 'お通じ', new_motion_path, method: :get, class:"in-button" %>
        </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
                <%# <div class="calendar_icon"> %>
                  <%#= image_tag "excercise.png", alt: "excersize_image" , class: "excersize_image"%>
                  <%#= image_tag "toilet.png", alt: "toilet_image" , class: "toilet_image"%>
                <%# </div> %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
